*{
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #fff34b;
}

.cor{
    background-color: #555;
}

.letra{
    color:white;
}

h1,h2,h3{
    color:#fff34b;
}
.social-icons img {
    width: 40px;
    height: 40px;
}

.social-icons a {
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .objetivo {
        margin-right: 0;
    }
   
}