.cards {
    padding: 40px 0;
}

.card {
    background-color: #ffffff; 
    border: 1px solid #dddddd; 
    border-radius: 15px; 
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    display: block;
    margin: 0 auto; 
    border-radius: 50%;
    max-width: 120px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333333; 
}

.card p {
    margin: 8px 0;
    color: #333333; 
}
